body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #fbe4e4, #ffbcbc);
    overflow: hidden;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    width: 50%;
    height: 400px;
    background: linear-gradient(45deg, #ffbcbc, #fbe4e4);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.container.show {
    opacity: 1;
}

.container h1, .container p {
    text-align: center;
    margin: 10px 0;
}

.container .gif iframe {
    max-width: 100%;
    border-radius: 20px;
}

.container .btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.gif {
    width: 350px;
    height: 500px;
    background-color: #000;
    position: relative;
    top: -100px;
}

#gif1 {
    width: 260px;
    background: url("manja.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
#gif2 {
    width: 325px;
    background: url("manja2.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
#gif3 {
    width: 300px;
    background: url("manja3.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
#gif4 {
    background: url("manja4.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
#gif5 {
    
    width: 280px;
    background: url("yes.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.contain-text {
    position: relative;
    top: -100px;
}

.btn button {
    font-size: large;
    color: #000;
    border: 2px solid #000;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem rgba(255, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border 0.5s, box-shadow 0.5s;
}

.btn button:hover {
    background-color: rgba(42, 41, 41, 0.8);
    border: 2px solid #fff;
    color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

#container1 {
    z-index: 1;
    opacity: 1;
}

#container1:hover, #container2:hover, #container3:hover, #container4, #yes:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.yes-btn {
    position: relative;
    bottom: 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.yes-btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #000000;
    font-size: 50px;
    color: #fff;
    border-radius: 20%;
    text-decoration: none;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.yes-btn a:hover {
    background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;
}

.btn #move-random::after {
        content: "No";
        display: block;
    }

.btn #move-random:hover::after {
        content: "Yes";
    }


#whatsapp{
    /* background: transparent;
    color: rgb(12, 180, 12); */
    background-color: rgb(12, 180, 12);
    color: #ffffff;
}
#insta{
    background: linear-gradient(45deg, #dbb661, #ff2bca);
    color: #ffffff;
}
